@charset "UTF-8";
/*
0-600px:        Phone
600-900px:      Tablet portrait
900-1200px:     Tablet landscape
[1200-1800px]:  Normal styles
1800px +:       Big dekstop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em=16px
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10px/16px esto se hace para que el usuario pueda cambiar el tamaño de fuente en el navegador */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
