.sobre-mi {
    margin-top: 4rem;
    @include respond(tab-land) {
        /* width less than 1300px? => 1rem = 8px */
        width: 75%;
        margin-top: 4rem;
    }
    @include respond(phone) {
        /* width less than 600px? => 1rem = 8px */
        width: 80%;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__description {
        display: flex;
        position: relative;
        margin-top: 4rem;
        @include respond(tab-land) {
            display: initial;
            margin-top: 8rem;
        }
    }
}

.description__miniature {
    width: 20rem;
    height: 20rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;

    @include respond(tab-land) {
        float: left;
        width: 20rem;
        height: 20rem;
        position: relative;
        top: -2rem;
        left: -2rem;

        transform: translateX(0);
    }

    @include respond(phone) {
        /* width less than 600px? => 1rem = 8px */
        width: 17rem;
        height: 17rem;
        top: -1rem;
        left: -1rem;
    }
}

.description__img {
    width: 100%;
}

.description__text {
    font-size: 1.6rem;
    font-family: Raleway;
    position: relative;

    padding-left: 6rem;
    padding-right: 6rem;
    border: 2px solid $color-primary;

    padding-top: 2rem;
    text-align: justify;
    text-justify: inter-word;

    width: 50%;
    margin: 2rem;
    //margin-top: 18rem;

    &:before {
        content: "";
        width: 6rem;
        height: 19rem;
        float: right;

        @include respond(tab-land) {
            float: none;
        }
    }

    @include respond(tab-land) {
        margin-bottom: 2rem;
        width: 100%;
        margin-top: 2rem;
    }
}

.description__cv {
    font-size: 1.6rem;
    font-family: Raleway;
    padding-left: 6rem;
    padding-right: 6rem;
    border: 2px solid $color-primary;
    padding-top: 2rem;
    text-align: justify;
    text-justify: inter-word;

    width: 50%;
    margin: 2rem;
    //margin-top: 18rem;

    &:before {
        content: "";
        width: 6rem;
        height: 19rem;
        float: left;

        @include respond(tab-land) {
            float: none;
        }
    }

    @include respond(tab-land) {
        width: 100%;
        margin-top: 2rem;
    }
}
