.sobre-mi {
    margin-top: 4rem;
    width: 90%;
    @include respond(tab-land) {
        /* width less than 600px? => 1rem = 8px */
        width: 75%;
    }
    @include respond(phone) {
        /* width less than 600px? => 1rem = 8px */
        width: 80%;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__description {
        display: flex;
        position: relative;
        margin-top: 4rem;
        @include respond(tab-land) {
            display: initial;
            margin-top: 8rem;
        }
    }

    &__descarga {
        text-align: center;
        font-size: 1.8rem;
        margin-top: 1rem;
        margin-bottom: 4rem;

        p {
            display: inline;

            a {
                border: 2px solid $color-primary;
                padding: 1.3rem;
                font-family: Montserrat;
                transition: all 0.3s;

                &:hover {
                    transform: translateY(-0.2rem) scale(1.01);
                    cursor: pointer;
                    background-color: $color-primary;
                    color: white;
                    box-shadow: 0 1rem 2rem rgba(black, 0.1);
                }

                &:active {
                    transform: translateY(-0.1rem);
                    box-shadow: 0 0.5rem 1rem rgba(black, 0.1);
                }
            }
        }
    }
}

.description__miniature {
    width: 20rem;
    height: 20rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;

    @include respond(tab-land) {
        float: left;
        width: 20rem;
        height: 20rem;
        position: relative;
        top: -2rem;
        left: -2rem;

        transform: translateX(0);
    }

    @include respond(phone) {
        /* width less than 600px? => 1rem = 8px */
        width: 17rem;
        height: 17rem;
        top: -1rem;
        left: -1rem;
    }
}

.description__img {
    width: 100%;
}

.description__text,
.description__cv {
    font-size: 1.6rem;
    font-family: Raleway;
    position: relative;

    padding-left: 6rem;
    padding-right: 6rem;
    border: 2px solid $color-primary;

    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: justify;
    text-justify: inter-word;

    width: 50%;
    margin: 2rem;
    margin-left: 0;
    margin-right: 0;
    //margin-top: 18rem;

    @include respond(tab-land) {
        width: 100%;
        margin-top: 2rem;
    }
}

.description__text {
    margin-right: 2rem;
    &:before {
        content: "";
        width: 6rem;
        height: 19rem;
        float: right;

        @include respond(tab-land) {
            float: none;
        }
    }
}

.description__cv {
    &:before {
        content: "";
        width: 6rem;
        height: 19rem;
        float: left;

        @include respond(tab-land) {
            float: none;
        }
    }
}
