.contacto {
    width: 70%;
    margin-top: 4rem;

    &__wrapper {
        display: flex;
        margin-top: 8rem;
        justify-content: center;
    }

    &__info {
        width: 35%;
        font-family: Raleway;
        font-size: 1.6rem;
        margin-right: 4rem;
        text-align: right;
        line-height: 1.5;
        margin-top: 8rem;
    }

    &__form {
        width: 65%;
    }
}
