.main-content{
    position: absolute;
    width: calc(100% - 30rem);
    margin-left: 30rem;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
}