.main-content {
    width: calc(100% - 30rem);
    margin-left: 30rem;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;

    @include respond(tab-port) {
        /* width less than 900px? => 1rem = 8px */
        padding-top: 10rem;
        width: 100%;
        margin-left: 0rem;
        position: relative;
        overflow: hidden;
    }
}

.imagen-portada {
    display: none;
    @include respond(tab-port) {
        /* width less than 900px? => 1rem = 8px */
        display: initial;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
