.trabajo {
    display: flex;
    flex-wrap: wrap;
    &__image-container {
      margin: 2px;
      position: relative;
    }
    &__image {
      position: absolute;
      top: 0;
      width: 100%;
    }
    &::after {
      content: "";
      flex-grow: 999999999; /* So images on last row wont stretch entirely, remove on media query*/
      min-width: 20%; /* To fill the last row space*/
    }

    &__title{
        font-family: ImpactLabel;
        font-size: 4rem;
        color: black;
    }
  }
  