.trabajo {
    width: 75%;
    margin-top: 4rem;
    position: relative;

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }

    &__image {
        margin: 4rem;
        @include respond(tab-port) {
            /* width less than 900px? => 1rem = 8px */
            margin: 2rem;
        }
        img {
            width: 100%;
        }
    }

    &__image-horizontal {
        width: 100%;
    }
    &__image-vertical {
        //flex-grow: 1;
        width: calc(50% - 8rem);
        @include respond(tab-port) {
            /* width less than 900px? => 1rem = 8px */
            width: calc(50% - 4rem);
        }
    }

    &__image-mitad {
        //flex-grow: 1;
        width: calc(50% - 8rem);
        @include respond(tab-port) {
            /* width less than 900px? => 1rem = 8px */
            width: 100%;
        }
    }

    &__texto {
        flex-basis: 100%;
        margin: 0 4rem;
        font-size: 1.4rem;
        font-family: Raleway;
    }

    &__derechos {
        flex-basis: 100%;
        margin: 2rem;
        text-align: center;
        margin-top: 0;
        font-family: Raleway;
        font-size: 1.2rem;
    }

    &__video {
        margin: 4rem;
        flex-basis: 100%;
        @include respond(tab-port) {
            /* width less than 900px? => 1rem = 8px */
            margin: 2rem;
        }
    }
    &__volver {
        font-size: 3rem;
        transition: 0.3s linear;
        position: absolute;
        left: -4rem;
    }
    &__volver:hover {
        transform: scale(1.1);
        color: $color-primary;
        text-shadow: 0 1rem 2rem rgba(black, 0.2);
    }
}
