.site-header {
    width: 30rem;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: $color-grey-light;
    text-align: center;
    box-shadow: 0px 0px 22px 0px rgba(217, 217, 217, 1);

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__logo-wrapper {
        font-family: Montserrat;
        text-transform: uppercase;
        letter-spacing: 0.4em;
        flex-basis: 180px;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        font-weight: 300;
        line-height: 1;
        color: $color-grey-dark;

        a,
        a:visited {
            color: $color-grey-dark;
        }
    }

    &__logo {
        font-size: 2.6rem;
        letter-spacing: 1rem;
    }

    &__logo-sub {
        display: block;
        text-transform: lowercase;
        font-size: 0.9rem;
        letter-spacing: 0.4em;
    }

    &__menu {
        flex-grow: 4;
        width: 100%;

        a,
        a:visited {
            color: $color-grey-dark;
            outline: none;
        }
    }

    &__social {
        display: flex;
        flex-basis: 8rem;
        width: 90%;
        font-size: 4rem;
        justify-content: space-around;
        align-items: center;
        border: 2px solid $color-primary;
        padding: 0 2rem;

        & .slink {
            transition: linear all 0.2s;
            outline: none;
        }

        & .slink:hover,
        .slink:focus {
            transform: scale(1.1);
        }

        & .fa-caralibro-square {
            color: #3b5998;
        }
        & .fa-linkedinn-in {
            color: #4875b4;
        }
        & .fa-instagram {
            color: #bc2a8d;
        }
    }

    &__footer {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 1.1rem;
        color: $color-grey;
        font-family: Raleway;
        & span {
            display: block;
            line-height: 2;
        }
    }
}
