.site-header {
    width: 30rem;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: $color-grey-light;
    text-align: center;
    box-shadow: 0px 0px 22px 0px rgba(217, 217, 217, 1);

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__logo-wrapper {
        font-family: Montserrat;
        text-transform: uppercase;
        letter-spacing: 0.4em;
        flex-basis: 180px;
        flex-shrink: 1;
        display: flex;
        align-items: center;
        font-weight: 300;
        line-height: 1;
        color: $color-grey-dark;
        @include respond(tab-port) {
            /* width less than 900px? => 1rem = 8px */
            visibility: hidden;
        }

        a,
        a:visited {
            color: $color-grey-dark;
        }
    }

    &__logo {
        font-size: 2.6rem;
        letter-spacing: 1rem;
    }

    &__logo-sub {
        display: block;
        text-transform: lowercase;
        font-size: 0.9rem;
        letter-spacing: 0.4em;
    }

    &__menu {
        flex-grow: 4;
        width: 100%;

        a,
        a:visited {
            color: $color-grey-dark;
            outline: none;
        }
    }

    &__social {
        display: flex;
        flex-basis: 8rem;
        width: 90%;
        font-size: 4rem;
        justify-content: space-around;
        align-items: center;
        border: 2px solid $color-primary;
        padding: 0 2rem;

        & .slink {
            transition: linear all 0.2s;
            outline: none;
        }

        & .slink:hover,
        .slink:focus {
            transform: scale(1.1);
        }

        & .fa-pinterest {
            color: #c8232c;
        }
        & .fa-linkedinn-in {
            color: #4875b4;
        }
        & .fa-instagram {
            color: #bc2a8d;
        }
    }

    &__footer {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 1.1rem;
        color: $color-grey;
        font-family: Raleway;
        & span {
            display: block;
            line-height: 2;
        }
    }
}

//MOBILE

.mobile-toggle {
    background-color: $color-primary;
    width: 100%;
    z-index: 99999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
    visibility: hidden;
    @include respond(tab-land) {
        /* width less than 900px? => 1rem = 8px */
        display: flex;
        visibility: visible;
    }

    &__logo-wrapper {
        font-family: Montserrat;
        text-transform: uppercase;
        letter-spacing: 0.4em;
        text-align: center;
        display: flex;
        align-items: center;
        font-weight: 300;
        line-height: 1;
        color: $color-grey-dark;
        margin: 4rem;

        a,
        a:visited {
            color: $color-grey-dark;
        }

        @include respond(phone) {
            /* width less than 600px? => 1rem = 8px */
            margin: 3rem;
        }
    }

    &__logo {
        font-size: 2.6rem;
        letter-spacing: 1rem;
        a {
            width: 100%;
        }
        @include respond(phone) {
            /* width less than 600px? => 1rem = 8px */
            font-size: 2rem;
        }
    }

    &__logo-sub {
        display: block;
        text-transform: lowercase;
        font-size: 0.9rem;
        letter-spacing: 0.4em;
        @include respond(phone) {
            /* width less than 600px? => 1rem = 8px */
            font-size: 0.7rem;
        }
    }
}

.hamburger-menu {
    padding: 1rem;
    margin-right: 3rem;
    cursor: pointer;
    & .menu-item {
        background-color: white;
        display: block;
        height: 3px;
        margin: 0 0 10px;
        transition: all 0.3s ease-in-out;
        width: 40px;
        &:nth-child(3) {
            margin: 0;
        }
    }

    &.open .menu-item {
        margin: 0px 0px 5px;
        background-color: white;
        width: 40px;
        &:first-child {
            transform: rotate(45deg);
            transform-origin: 8.5px;
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: rotate(-45deg);
            transform-origin: 8.5px;
        }
    }
}

.site-header {
    @include respond(tab-land) {
        /* width less than 900px? => 1rem = 8px */
        transform: translate(-100%, 0);
        transition: all 0.4s linear;
        z-index: 100;
        box-shadow: none;
    }
}
