.navigation {
    & .menu {
        list-style: none;
        font-family: Raleway;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
    }

    & a {
        display: inline-block;
        width: 90%;
        padding: 1.5rem;
        position: relative;
        /*         border: 2px solid transparent;
        transition: linear all 0.2s; */
    }

    & a svg,
    & a svg rect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: transparent;
    }

    & a svg rect {
        stroke: $color-primary;
        stroke-width: 4;
        transition: 1s ease;
        stroke-dasharray: 800;
        stroke-dashoffset: 800;
    }

    & a:hover svg rect,
    a:focus svg rect {
        stroke-dashoffset: 0;
    }

    & .current_page_item,
    & .current-menu-item {
        font-weight: bold;
        border-right: 3px solid $color-primary;
    }

    /* & a:hover {
        border: 2px solid $color-primary;
    } */
}
